@using CEC.SRV.BLL
@using CEC.SRV.Domain
@using CEC.Web.SRV.Resources
@model CEC.Web.SRV.Models.Interop.UpdateInstitutionModel

<div class="clearfix">

    @using (Html.BeginForm("CreateUpdateInstitution", "Interop", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            @Html.EditorFor(x => x.InstitutionTypeId)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.LegacyId)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Name)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.Description)
        </div>
        <div class="form-group">
            @Html.EditorFor(x => x.AddressId)
            <a href="#" id="clear_selected_option" title="@MUI.ButtonDelete">
                <i class="fa fa-times"></i>
            </a>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@MUI.ButtonSave" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $('.rsa-form-group > div.col-sm-4').removeClass('col-sm-4').addClass('col-sm-6');
    $('.rsa-form-group > div.col-sm-2').removeClass('col-sm-2').addClass('col-sm-4');

    $('#clear_selected_option').click(function () {
        $('#AddressId').val('');

        $('#s2id_AddressId .select2-chosen').text('');
    });

    function addressDataRequest(term, page, pageLimit) {
        return {
            q: term,
            pageLimit: pageLimit,
            page: page
        };
    }

    function addressResults(data, more) {
        return { results: data, more: more };
    }
</script>
