@using CEC.SAISE.EDayModule.Infrastructure.Grids
@using CEC.SAISE.EDayModule.Models.DocumentsGrid
@using Lib.Web.Mvc.JQuery.JqGrid

@Scripts.Render("~/bundles/jqGrid")

@{
    var grid = Html.GridOptions<PollingStationDocumentStageGridModel>("documentStageEnabler", rowsPerPage: 100)
        .SetOptions(x => x.MultiSelect = true)
        .BuildGrid(null, columnChooser: false, showFilterToolbar: true)
        .Navigator(new JqGridNavigatorOptions() { Add = false, Edit = false, Delete = false, CloneToTop = true });
}

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
      integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="row padding-15">
                <div class="col-xs-2">
                    <strong>Scrutin:</strong>
                </div>
                <div class="col-xs-8">
                    <input type="hidden" class="electionsSelect" />
                </div>
            </div>

            <div class="electoralRegisteredSelectContainer row padding-15 d-none">
                <div class="col-xs-2">
                    <strong>Înscris electoral:</strong>
                </div>
                <div class="col-xs-8">
                    <input type="hidden" class="electoralRegisteredSelect" />
                </div>
            </div>

            <div class="circumscriptionSelectContainer row padding-15 d-none">
                <div class="col-xs-2">
                    <strong>Circumscriptie:</strong>
                </div>
                <div class="col-xs-8">
                    <input type="hidden" class="circumscriptionSelect" />
                </div>
            </div>
            @grid.GetHtml()
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
        integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        @grid.GetJavaScript();

        jQuery.datetimepicker.setLocale('ro');

        let electionId;
        let templateNameId;
        let circumscriptionId;

        $('.electionsSelect').select2({
            placeholder: 'Selectați scrutinul...',
            ajax: {
                url: '@Url.Action("SelectElections", "Selectors")',
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    return {
                        q: term,
                        pageLimit: 10,
                        page: page
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.Total;

                    return { results: data.Items, more: more };
                },
                cache: true
            }
        }).on('change', function (e) {
            $('.electoralRegisteredSelectContainer').removeClass("d-none");
            $('.electoralRegisteredSelectContainer').addClass("d-block");

            $(".electoralRegisteredSelect").select2("val", "");
            $(".circumscriptionSelect").select2("val", "");

            electionId = $(this).val();
        });

        $('.electoralRegisteredSelect').select2({
            placeholder: 'Selectați înscrisul electoral...',
            ajax: {
                url: '@Url.Action("SelectTemplateNamesGrid", "Selectors")',
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    return {
                        q: term,
                        pageLimit: 10,
                        page: page,
                        electionId
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.Total;

                    return { results: data.Items, more: more };
                },
                cache: true
            }
        }).on('change', function (e) {
            $('.circumscriptionSelectContainer').removeClass("d-none");
            $('.circumscriptionSelectContainer').addClass("d-block");

            $(".circumscriptionSelect").select2("val", "");

            templateNameId = $(this).val();
        });

        $('.circumscriptionSelect').select2({
            placeholder: 'Selectați circumscriptia...',
            ajax: {
                url: '@Url.Action("SelectCircumscription", "Selectors")',
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    return {
                        q: term,
                        pageLimit: 10,
                        page: page,
                        electionId,
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.Total;
                    return { results: data.Items, more: more };
                },
                cache: true
            }
        }).on('change', function (e) {
            circumscriptionId = $(this).val();

            var psGrid = $("#documentStageEnabler").jqGrid();
            psGrid.jqGrid(
                'setGridParam',
                {
                    'url': '@Url.Action("ListPollingStationDocumentAjax", "DocumentsGrid")',
                    'postData': { 'electionId': electionId, 'templateNameId': templateNameId, 'circumscriptionId': circumscriptionId }
                }
            );

            psGrid.jqGrid('setGridParam', {
                multiSort: true,
                sortname: "CircumscriptionNumber asc, PollingStation"
            });

            $('#refresh_pollingStationStageEnabler_top').click();

            psGrid.trigger('reloadGrid');
        });
    });


</script>