@using CEC.SAISE.EDayModule.Infrastructure.Grids
@using CEC.SAISE.EDayModule.Models.VotingProcessStats
@using Lib.Web.Mvc.JQuery.JqGrid

@Scripts.Render("~/bundles/jqGrid")

@{
    var grid = Html.GridOptions<VotingProcessStatsGridModel>("votingStats", rowsPerPage: 100)
        .BuildGrid(null, columnChooser: false, exportAction: @Url.Action("ExportStatistic"))
        .Navigator(new JqGridNavigatorOptions() { Add = false, Edit = false, Delete = false, CloneToTop = true });
}

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="row padding-15">
                <div class="col-sm-2">
                    <strong>Scrutin:</strong>
                </div>
                <div class="col-sm-4">
                    <input id="scrutin" type="hidden" class="electionsSelect"/>
                </div>
            </div>
            @grid.GetHtml()
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        @grid.GetJavaScript();
        $('#exportGrd').addClass('hiden');
        $('.electionsSelect').select2({
            placeholder: 'Selectați scrutinul...',
            ajax: {
                url: '@Url.Action("SelectElections", "Selectors")',
                dataType: 'json',
                delay: 250,
                data: function (term, page) {
                    return {
                        q: term,
                        pageLimit: 10,
                        page: page
                    };
                },
                results: function (data, page) {
                    var more = (page * 10) < data.Total;
                    return { results: data.Items, more: more };
                },
                cache: true
            }
        }).on('change', function (e) {
            var psGrid = $("#votingStats").jqGrid();
            psGrid.jqGrid('setGridParam', { 'url': '@Url.Action("ListVotingStatsAjax")', 'postData': { 'electionId': parseInt(e.val) }});
            psGrid.jqGrid('setGridParam', {
                multiSort: true,
                sortname: "CircumscriptionNumber asc, PollingStation"
            });
            $('#exportGrd').removeClass('hiden');
            psGrid.trigger('reloadGrid');
        });
    });
</script>
<style>
    .hiden{
        visibility:hidden;
    }
</style>